
{% block content %}
<style>
  .note{
    text-align: center;
    color: maroon;
    font-size: 70px;
   }
   .text{
    text-align: center;
    color: rgb(10, 9, 9);
    font-size: 30px;
   }
   .button1{
      text-align: center;
      height: 35px;
      background: #00adcc;
      color: #fff;
      font-weight: bold;
      line-height: 35px;
      width: 10%;
      margin-left: 660px;
    
   }
   .button2{
      text-align: center;
      height: 35px;
      background: #00adcc;
      color: #fff;
      font-weight: bold;
      line-height: 35px;
      width: 10%;
      margin-left: 660px;
   }
   .option{
    text-align: center;
   }
   .body{
    background: -webkit-linear-gradient(#0072ff, #8811c5);
   }
</style>
<div class="body">
<br>
<br>


  <div class="jumbotron" style="margin-bottom:0px;">

  <h1 class="display-4" style="text-align:center;">Hello, User</h1>

  <div class = "note"><p class="lead">Welcome to TCM.</p></div>
  
  <div class = "text">

  <p>You can access various features after Login/SignUp.</p>
  </div>

  <div class = "button1">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/signin" role="button">Register</a>
  </div>

  
  <div class = option><p>Or</p></div>  

  <div class = "button2">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  </p>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
</div>
</div>

{% endblock content %}
